<h1>Dice Roll</h1>

<form action="/process_roll">

  <label for="gabe">Number of dice to roll?</label>
  <input id="gabe" type="text" name="dice">

  <label for="hewitt">How many sides per die?</label>
  <input id="hewitt" type="text" name="sides">

<button>Roll!</button>
</form>
